body{
    margin: 0;
    background-color: rgb(66, 126, 128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* GENERAL - header y navegador; portada */

nav{
    height: 100px;
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}


.logo-compu{ /*PROVISORIO*/
    display: inline-block;
    border: 2px solid red;
    background-color: white;
}

.boton-nav{
 text-decoration: none;
 color: black;
 background-color: rgb(240, 245, 228);
 padding: 10px;
 border-radius: 10px;
 box-shadow: 3px 3px rgb(21, 68, 84);
 margin-right: 50px;
}
.boton-nav:active{
    box-shadow: none;
    transform: translate(3px,3px);
}

.historia{
    margin-left: auto;
}

h1{
    background-color: rgb(45, 45, 45);
    text-shadow: 6px 3px 2px black;
    font-size: 50px;
}

#portada{
    display: flex;
    background: url(./imagenes/codigo.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

/* INDEX - main y tarjetas */

h2{
    text-align: center;
    text-shadow: 4px 3px 2px rgb(43, 43, 43);
    font-size: 40px;
    color: rgb(240, 245, 228);
    margin: 0%;
}

#indexMain{
    display: flex;
    justify-content: space-evenly;
    height: 800px;
    flex-direction: column;
}

section{
    height: 500px;
    width: 400px;
    border: rgb(21, 68, 84) solid 5px;
    background-color: rgb(240, 245, 228);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contenedorCards{
    display: flex;
    justify-content: space-evenly;
}

h3{
    margin-inline: 2px;
}

.cardpic{
    width: 100%;
}

.card-link{
    text-decoration: none;
    font-size: 20px;
    color: rgb(240, 245, 228);
    background-color: rgb(66, 126, 128);
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15%;
    box-shadow: 3px 3px rgb(21, 68, 84);
}
.card-link:active{
    box-shadow: none;
    transform: translate(3px,3px);
}

/* GENERAL - footer */

footer{
    background-color: rgb(45, 45, 45);
    color: white;
    height: 100px;
    padding-inline: 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

p{
    text-align: center;
}
.footer-creditos{
    margin-left: auto;
}

/*HISTORIA - frantas de titulo-texto*/

#historiaMain{
    display: flex;
    flex-direction: column;
}

.franjaHistoria{
    padding: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.franjaHistoria p{
    width: 50%;
    text-align: justify;
}

.franjaHistoria h2{
    width: 50%;
}

/*HISTORIA - articulo y video*/

#artVid{
    margin: 100px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#containerVideo{
    margin: 50px 0px 50px 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: black;
}
#ctrlVideo{
    height: 50px;
    width: 98%;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    align-self: center;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px
}

#ctrlVideo p{
    margin: 0px 15px 5px auto;
    align-self: flex-end;
    color: white;
}

.boton{
    padding: 15px 30px 15px 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(240, 245, 228);
    box-shadow: 2px 2px rgb(21, 68, 84)
}
.boton:active{
    box-shadow: none;
    transform: translate(2px,2px);
}
.play{
    margin: 0px 0px 0px 10px;
}